extends layout

block content
  .container
    h2 Detailed view
    .container
      table#verticalTable
        tbody
          tr
            th date:
            td #{downtimeevent.date}
          tr
            th time:
            td #{downtimeevent.time}
          tr
            th code:
            td #{downtimeevent.code}
          tr
            th cause:
            td #{downtimeevent.cause}
          tr
            th duration:
            td #{downtimeevent.duration}
          tr
            th Author:
            td #{downtimeevent.operator}
          tr
            th description:
            td #{downtimeevent.description}
          tr
            th solution:
            td #{downtimeevent.solution}
          tr
            th long term effects:
            td #{downtimeevent.longtermeffects}


    hr
    a.btn.btn-warning(href='/downtimeevent/edit/'+downtimeevent._id) Edit
    a.btn.btn-danger.delete-downtimeevent(href='#',data-id=downtimeevent._id) Delete

  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  script(src='/js/main.js')      
