extends layout

block content
  .container
    h2 Detailed view
    ul
      li date = #{downtimeevent.date}
      li time = #{downtimeevent.time}
      li Error code = #{downtimeevent.code}
      li Downtime duration = #{downtimeevent.duration} hours
      li Description: #{downtimeevent.description}
      li Solution: #{downtimeevent.solution}

    hr
    a.btn.btn-warning(href='/downtimeevent/edit/'+downtimeevent._id) Edit
    a.btn.btn-danger.delete-downtimeevent(href='#',data-id=downtimeevent._id) Delete

  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  script(src='/js/main.js')      
