extends layout


block content
  .container
    h2 #{title}
    form(method='POST',action='/downtimeevent/edit/'+downtimeevent.id)
      #form-group
        label Code:
        input.form-control(name='code', type='text', value=downtimeevent.code)
      #form-group
        label Operator:
        input.form-control(name='operator', type='text',value=downtimeevent.operator)
      #form-group
        label Description:
        textarea.form-control(name='description')= downtimeevent.description
      #form-group
        label Solution:
        textarea.form-control(name='solution')= downtimeevent.solution
      #form-group
        label Date:
        input.form-control(name='date', type='date',value=downtimeevent.date)#date
      #form-group
        label Time:
        input.form-control(name='time', type='number',value=downtimeevent.time)#time
      #form-group
        label Duration (hours):
        input.form-control(name='duration', type='number',value=downtimeevent.duration)
      br
      input.btn.btn-primary.btn-lg(type='submit',value='Submit')
