extends layout


block content
  link(rel='stylesheet' href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
  .container



    h2 Downtime Table

    table#example.display(style='width:100%')
      thead
          tr
            th date
            th code
            th description
            th solution
            th time
            th duration (hours)
            th operator
      tbody
        each downtimeevent, i in downtimeevents
          tr
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.date}
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.code}
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.description}
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.solution}
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.time}
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.duration}
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.operator}
    //datatable stuff
    script(src='/bower_components/jquery/dist/jquery.js')      
    script(src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
    script.
      $(document).ready(function() {
        $('#example').DataTable();
      });


