extends layout


block content
  link(rel='stylesheet' href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
  .container



    h2 Downtime Table

    table#example.display(style='width:100%')
      thead
          tr
            th(width='10%') date
            th(width='10%') code
            th(width='25%') description
            th(width='25%') solution
            th(width='10%') time
            th(width='10%') duration (hours)
            th(width='10%') operator
      tbody
        each downtimeevent, i in downtimeevents
          tr
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.date}
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.code}
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.description}
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.solution}
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.time}
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.duration}
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.operator}
       
    //datatable stuff
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
    script.
      $(document).ready(function() {
        // Setup - add a text input to each header cell
        $('#example thead th').each( function () {
          var title = $(this).text();
          $(this).html( '<input type="text" placeholder=" '+title+'" />' );
      } );

      // DataTable
      var table = $('#example').DataTable();

      // Apply the search
      table.columns().every( function () {
        var that = this;

        $( 'input', this.header() ).on( 'keyup change', function () {
          if ( that.search() !== this.value ) {
            that
              .search( this.value )
              .draw();
            }
          } );
        } );
      } );
    


    //- script.
    //-   $(document).ready(function() {
    //-     $('#example').DataTable();
    //-   });


