extends layout


block content

  .container



    h2 Downtime Table1

    table#example.display(style='width:100%')
      thead
          tr
            th code
            th date
            th time
            th duration
            th operator
      tbody
        each downtimeevent, i in downtimeevents
          tr
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.code}
            td
              a #{downtimeevent.date}
            td
              a #{downtimeevent.time}
            td
              a #{downtimeevent.duration}
            td
              a #{downtimeevent.operator}
    //datatable stuff
    script(src='https://code.jquery.com/jquery-3.3.1.js')
    script(src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
    script.
      $(document).ready(function() {
      $('#example').DataTable();
      } );
