extends layout


block content
  section.container
    h2 Downtime Table
    input.light-table-filter(type='search', data-table='order-table', placeholder='Filter')
    //input#myInput(type='text', onkeyup='myFunction()', placeholder='Search for names..')
    table.order-table.table
      thead
        tr
          th timestamp
          th code
          th duration
          th description
          th solution
          th operator
      tbody
        each downtimeevent, i in downtimeevents
          tr
            td
              a(href="/downtimeevent/"+downtimeevent._id) #{downtimeevent.timestamp}
            td
              a #{downtimeevent.code}
            td
              a #{downtimeevent.duration}
            td
              a #{downtimeevent.description}
            td
              a #{downtimeevent.solution}
            td
              a #{downtimeevent.operator}
